div:hover {
    border: 5px solid black;
}
#primaria {
    border-color: black;
}
#secundaria {
    border-color: red;
}
#complementar {
    border-color: aqua;
    padding: 10px 500px 10px 1px;
}
#escura {
    border-color: brown;
}
#clara {
    border-color: yellow;
}
h3 {
    font-family: sans-serif;
}
#primaria, #complementar, #clara {
    font-style: italic;
}