ol {
    background-color: yellow;
}
.par {
    color: green;
}
.impar {
    text-transform: uppercase;
}
.vermelha {
    color: red;
}
.italico {
    font-size: 40px;
    border: 1px solid black;
}
li {
    font-size: 20px;
    }
li em {
    font-weight: bold;
}
.primeiras {
    color: blue;
}
.java {
    background-color: pink;
}
a:hover {
    font-weight: bold;
}
.Stack:hover {
    color: orange;
}
.W3:hover {
    color: green;
}
.MDN:hover {
    color: black;
}
.Dev:hover {
    color: yellow;
}
.Trybe:hover {
    color: green;
}